@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Roboto&display=swap%27');

:root {
    --black: #000;
    --secondry-black: #3F3F3F;
    --white: #fff;
    --primary-gray: #BDBDBD;
    --secondry-gray: #828282;
    --third-gray: #4F4F4F;
    --main-color: #EB5757;
    --bg-light-blue: #E6F1FA;
}

* {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 96px;
    line-height: 110px;
    font-weight: 600;
}

h2 {
    font-size: 86px;
    line-height: 86px;
    font-weight: 600;
}

h3 {
    font-size: 56px;
    line-height: 72px;
    font-weight: 500;
}

h4 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 600;
}


h5 {
    font-size: 26px;
    line-height: 38px;
    font-weight: 400;
}

h6 {
    font-size: 24px;
    font-weight: 400;
}

.graySpan {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--primary-gray);
}

.blackSpan {
    font-size: 18px;
    line-height: 27px;
}

.boldSpan {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

.btn {
    border: 2px solid var(--black);
    padding: 15px 30px;
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: 0.5px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
}

.button-black {
    background-color: black;
    padding: 20px;
    display: inline-block;
    transition: 0.3s;
}

.button-black img {
    width: 15px;
    height: 15px;
}

.button-black:hover {
    background-color: rgb(28, 28, 28);
}

.button-white {
    border: 2px solid #C4C4C4;
    background-color: white;
    padding: 12px;
    display: inline-block;
    transition: 0.3s;
}

.button-white:hover {
    background-color: #C4C4C4;
}

/* /////////--------------------------------------////////// */

/* HEADER START */
header {
    background-color: var(--black);
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0px 35px 21px;
}

.hidden {
    display: none;
}

.menu a {
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 29px;
}

.menu .searchIcon input {
    outline: none;
    border: none;
    padding-left: 1px;
}

.menu .searchIcon i {
    color: var(--white);
    cursor: pointer;
}

.shopping {
    display: flex;
    align-items: center;
    gap: 12px;
}

.shopping i {
    margin-left: 8px;
    cursor: pointer;
}

.shopping,
.shopping a {
    color: var(--white);
}

.shopping div {
    display: flex;
    flex-direction: column;
    width: 99px;
}

/* HEADER END */

/* ------____------- */

/* MAIN START */
main {
    padding: 21px 21px 0 21px;
}


fieldset {
    display: flex;
    justify-content: space-between;
    padding: 29px 0;
    border: 2px solid #C4C4C4;
}

legend {
    text-align: center;
    padding: 0 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 68px;
    text-transform: uppercase;
    color: #000;
}
.brand {
    width: 235px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2.4s;
}
.brand:hover {
    background-color:#F0F2F2;
}
.banners{
    display: grid;
    grid-template-columns: minmax(300px, 924px) minmax(auto, auto);
    grid-template-rows: minmax(200px, 434px) minmax(200px, 434px);
    gap: 30px 29px;
    grid-auto-flow: row;
    grid-template-areas:
    "bannerOne bannerThree"
    "bannerTwo bannerThree";
    margin-bottom: 30px;
}
.bannerOne{
    background: linear-gradient(180deg, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%);
    display: flex;
    gap:112px ;
}

.bannerOne .bannerContent{
    width: 369px;
    padding: 83px 0;
}

.bannerContent h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    width: 221px;
}
.bannerContent p{
    margin-bottom: 51px;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 0.01em;
}


/* featuredItems start */
.featured {
    margin-bottom: 79px;
}

.populer {
    margin-bottom: 118px;
}

.featuredItems {
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featuredItems .buttons i {
    color: var(--secondry-gray);
}

.featuredCards {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 31px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card div {
    display: flex;
    flex-direction: column;
}

.card .price {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
}

/* featuredItems end */

/* MAIN END */

/* ------____------- */

/* FOOTER START */
footer {
    background-color: var(--black);
    color: var(--white);
}

/* FOOTER END */